/* theming for panel and context menus */
.crm-container #contact-summary-orgrelationship-tab ul.panel li {
  background-color: #2F2F2E;
}

.crm-container #contact-summary-orgrelationship-tab ul.panel {
  top: 15px;
  right: 0;
}

.crm-container #contact-summary-orgrelationship-tab ul.panel li {
  margin: 0;
  padding: 2px;
  list-style: none;
  background-image: none;
  width: auto;
}

.crm-container #contact-summary-orgrelationship-tab {
  position: relative;
}
.crm-container #contact-summary-orgrelationship-tab div.reltree {
  display: table;
  width: 100%;
}
.crm-container #contact-summary-orgrelationship-tab .actions {
  /*position: absolute;
  right: 0;*/
  float: right;
}
.crm-container #contact-summary-orgrelationship-tab div.reltree li {
  clear: both;
}
.crm-container #contact-summary-orgrelationship-tab .actions .panel {
  border:0;
}

